@import "tailwindcss";

/* Light Mode */
:root {
  --bg: #ffffff;
  --text: #171717;
  --card-bg: rgba(255, 255, 255, 0.7);
  --card-border: rgba(0, 0, 0, 0.1);
}

/* Dark Mode (Tailwind v4 applies class="dark") */
html.dark {
  --bg: #0f172a;
  --text: #ffffff;
  --card-bg: rgba(255, 255, 255, 0.05);
  --card-border: rgba(255, 255, 255, 0.15);
}

body {
  background: var(--bg);
  color: var(--text);
}

html {
  color-scheme: light !important;
}

html.dark {
  color-scheme: dark !important;
}
